<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="/public2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public2/css/animate.min.css" />
    <link rel="stylesheet" href="/public2/css/ionicons.min.css" />
    <link rel="stylesheet" href="/public2/css/styles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
   <body>
                <table class="table table-bordered">
            <thead>
            <td>User</td>
            <td>Starting Date</td>
            <td>End Date</td>
            <td>Status</td>
            <td>Estimated Distance</td>
            <td>Starting Adress</td>
            <td>Destination Adress</td>
            <td>Car Number</td>
            <td > <span class ="glyphicon glyphicon-edit"></span> </td>
            <td > <span class ="glyphicon glyphicon-remove"></span> </td>
        </thead>
        <tr><td>Utiliz</td><td>2017-02-01 00:00:00</td><td>2017-02-01 00:00:00</td><td>In Progress</td><td>12.0000</td><td>121</td><td>12</td><td>12</td><td><a href="edit.php?id=11 ">Edit</a><td><a href="delete.php?id=11" onClick="return confirm('Are you sure you want to delete?')">Delete</a></td></tr><tr><td>Admin</td><td>2017-01-31 00:00:00</td><td>2017-01-31 00:00:00</td><td>Finished</td><td>11.0000</td><td>11</td><td>11</td><td>11</td><td><a href="edit.php?id=10 ">Edit</a><td><a href="delete.php?id=10" onClick="return confirm('Are you sure you want to delete?')">Delete</a></td></tr><tr><td>Admin</td><td>2017-06-05 00:00:00</td><td>2017-06-05 00:00:00</td><td>Finished</td><td>18.0000</td><td>Dristor</td><td>Aurel Vlaicu</td><td>RO-131-IPE</td><td><a href="edit.php?id=9 ">Edit</a><td><a href="delete.php?id=9" onClick="return confirm('Are you sure you want to delete?')">Delete</a></td></tr>    </table>
            <button type="button" class="btn btn-default" 
            onClick="document.location.href='add.php'"
            >Add Transport</button>

    <!--scripts loaded here -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.easing.min.js"></script>
    <script src="./js/wow.js"></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>